.main-header-container {
  background-color: teal;
  padding: 10px 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.header-title-logo {
  font-size: 25px;
  padding-left: 20px;
  color: white;
  font-weight: 700;
}

.header-main-input-button {
  /* background-color: orange; */
  display: flex;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  width: 40%;
  margin: auto;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  cursor: pointer;
}
.header-main-input-button input {
  border: 0px;
  padding: 10px 15px 10px 15px;
  width: 100%;
  /* background: orange; */
  /* width: 100%; */
}
.header-main-input-button button {
  color: white;
  font-size: 20px;
  cursor: pointer;
  padding-top: 4px;
  margin-left: 5px;
  background: black;
  border: 1px;
}
@media all and (max-width: 768px) {
  .header-title-logo {
    font-size: 20px;
  }

  .main-header-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .header-title-logo {
    margin-bottom: 20px;
  }
}
.header-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
